NODE_ENV=development
SERVER="http://localhost"
FRONTEND_URL="http://localhost:5173"
PORT=3000
DATABASE_URL=""
DIRECT_URL=""
MAIL_HOST=""
MAIL_USER=""
MAIL_PASSWORD=""
MAIL_FROM=""
JWT_SECRET="replace_with_a_secure_secret"
LOG_LEVEL="info"

# Supabase file storage
SUPABASE_URL=""
SUPABASE_SECRET_KEY=""