SERVER=""
FRONTEND_URL=''
PORT=3000
# Named as "DIRECT_URL" in superbase
DATABASE_URL=""
MAIL_HOST=""
MAIL_USER=""
MAIL_PASSWORD=""
MAIL_FROM=""
JWT_SECRET="local_json_web_token"
LOG_LEVEL="" # info in production 
MODE="developement"

# superbase file storage
SUPABASE_URL=""  # URL de l'API de ton projet Supabase
SUPABASE_PUBLISHABLE_KEY=# Clé publique (pour les requêtes soumises au RLS)